@import "variables.scss";
.phenotype-toolbar {
  background-color: $dashboard-header-background-color;
  border: solid 1px black;
  border-radius: 3px;
  color: white;
  padding: 7px 5px;
  margin-bottom: 3px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      margin-right: 3px;
      .phenotype-toolbar-button {
        border: solid 1px black;
        padding: 2px 5px;
      }

      .spacer {
        width: 15px;
      }
    }
  }
}

#data-elements-list {
  .tree-classic {
    height: 400px;
    overflow-x: scroll;
  }
}

#temporal-operators-list {
  .tree-classic {
    height: 300px;
    overflow-x: scroll;
  }
}

#value-sets-list {
  .note {
    font-size: 0.9em;
    font-style: italic;
  }
}

.phenotype-element-list{
  border: solid 1px black;
  border-radius: 2px;
  margin-bottom: 15px;

  .panel-heading {
    background-color: $dashboard-header-background-color;
    color: white;
    padding: 3px 5px;
    text-align: center;
    border-bottom: solid 2px black;

    .panel-title {
      font-size: 14px;
    }
  }

  ul {
    padding-top: 5px;
    padding-left: 0px;
    list-style-type: none;
  }

  .phenotype-element {
    padding: 5px 7px;
  }

  .phenotype-element:hover {
    background-color: darken(white, 10%);
  }

  [treecontrol] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    li {
      padding: 0px 5px;
    }
  }
}

#relationship-properties {
  input[type='text'] {
    width: 50px;
  }
  div.range {
    display: inline-block;
  }
  div.options {
    padding-top: 10px;
    label {
      font-weight: normal;
      width: 48%;
      padding-right: 25px;
    }
  }
}

#logical-operator-properties {
  ul {
    padding-left: 20px;
    padding-top: 10px;
  }
}

#data-element-properties {
  label {
    width: 48%;
    padding-right: 25px;
    input {
      font-weight: normal;
      float: right;
    }
  }
}

#phenotype-properties {
  label {
    padding-right: 25px;
    width: 98%;
    input, textarea {
      width: 80%;
      font-weight: normal;
      float: right;
    }
  }
}

$value-sets-background-color: #eee;

.value-sets-container, .value-set-container {
  padding: 10px 0px;
  margin: 10px 0px;
  background-color: $value-sets-background-color;
  border: solid 1px black;
  .note, .note-sm {
    font-size: 0.9em;
    font-style: italic;
  }
  .note-sm {
    font-size: 0.7em;
  }
  .search-panel {
    padding-bottom: 15px;
  }
  max-height: 300px;
  overflow: scroll;
}

.value-set-results {
  .divider-right {
    border-right: solid 1px black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  thead {
    border-bottom: solid 1px black;
  }

  td {
    padding-right: 5px;
    padding-bottom: 5px;
  }

  tr:hover {
    background-color: lighten($value-sets-background-color, 75%);
    cursor: default;
  }

  .selected {
    background-color: darken($value-sets-background-color, 15%);
  }
}

.modal-content {
  .value-sets-container, .value-set-container {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: none;
  }

  .value-set-results {
    tr:hover {
      background-color: darken($value-sets-background-color, 25%);
    }

    .selected {
      background-color: darken($value-sets-background-color, 15%);
    }
  }
}