@import "variables.scss";
.phenotype-toolbar {
  background-color: $dashboard-header-background-color;
  border: solid 1px black;
  border-radius: 3px;
  color: white;
  padding: 7px 5px;
  margin-bottom: 3px;

  .btn:hover, .btn:focus {
    color: white;
  }

  .btn .disabled {
    background-color: lighten($dashboard-header-background-color, 30%);
    color: gray;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      margin-right: 3px;
      .phenotype-toolbar-button {
        border: solid 1px black;
        padding: 2px 5px;
      }

      .spacer {
        width: 15px;
      }

      ul.dropdown-menu li {
        display: list-item;
        a:hover {
          background-color: $list-item-hover-background-color;
        }
      }
    }
  }
}

#data-elements-list, #fhir-elements-list, #value-sets-list, #code-systems-list {
  .tree-classic {
    height: 400px;
    overflow-y: scroll;
  }
}

#temporal-operators-list {
  .tree-classic {
    height: 300px;
    overflow-y: scroll;
  }
}

.data-element-list, .main-element-list, .term-element-list, .operator-element-list {
  border: solid 1px black;
  border-radius: 2px;
  margin-bottom: 15px;

  .panel-heading {
    color: white;
    padding: 3px 5px;
    text-align: center;
    border-bottom: solid 2px black;

    .panel-title {
      font-size: 14px;
    }
  }

  ul {
    padding-top: 5px;
    padding-left: 0px;
    list-style-type: none;
  }

  .phenotype-element {
    padding: 5px 7px;
    width: 95%;
  }

  .phenotype-element:hover {
    background-color: darken(white, 10%);
    cursor: pointer;
  }

  [treecontrol] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;

    li {
      padding: 0px 5px;
    }
  }
}

.data-element-list, {
  .panel-heading {
    background-color: $dashboard-header-background-color;
  }
}

.term-element-list {
  .panel-heading {
    background-color: #609AAA;
  }
}

.operator-element-list {
  .panel-heading {
    background-color: #829D43;
  }
}


#relationship-properties {
  input[type='text'] {
    width: 50px;
  }
  div.range {
    display: inline-block;
  }
  div.options {
    padding-top: 10px;
    label {
      font-weight: normal;
      width: 48%;
      padding-right: 25px;
    }
  }
}

#logical-operator-properties {
  ul {
    padding-left: 20px;
    padding-top: 10px;
  }
}

#data-element-properties, #value-set-properties, #function-operator-properties {
  label {
    width: 48%;
    padding-right: 25px;
    input, .value-set-inline {
      font-weight: normal;
      float: right;
    }
  }

  fieldset {
    padding-bottom: 10px;

    label {
      padding-left: 15px;
    }
  }

  legend {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    border: none;
  }
  
  .results-container {
    display: inline;
  
    ul {
      list-style-type: none;
    }
    label {
      width: 100%;
    }
    select {
      float: right;
    }
    label input[type=radio] {
      float: left;
      margin-right: 5px;
    }
    .results-type-panel {
      margin-top: 3px;
      margin-left: 10px;
      margin-right: 7px;
    }
  }
  
  #results-values-panel {
    input, select {
      float: none;
    }
    input[type=text] {
      width: 50px;
    }
  }
}

#function-operator-properties {
  label {
    width: 100%;
    padding-right: 25px;
    input {
      float: none;
    }
  }
}

#data-element-properties > .value-set {
    label {
      padding-right: 25px;
      input {
        float: none;
        width: 250px;
      }
    }
  }

#data-element-properties .value-set {
  label {
    width: 100%;
    display: inline;
  }
  padding-bottom: 20px;

  .btn-default {
    padding: 3px;
    background: #eeeeee;
    border: solid 1px #bbbbbb;
    color: black;
  }

  .btn-default:hover {
    background: #bbbbbb;
    color: black;
  }

  .note {
    color: lighten(#000, 55%);
  }

  .clickable {
    text-decoration: underline;
    font-style: italic;
  }

  .clickable:hover {
    background-color: darken(#FFF, 20%);
    cursor: pointer;
  }
}

#value-set-properties {
  table {
    thead {
      border-bottom: solid 1px black;
    }
    td {
      padding-right: 10px;
      vertical-align: top;
    }
    th {
      padding-right: 10px;
    }
  }
}

#phenotype-properties {
  label {
    padding-right: 25px;
    width: 98%;
    input, textarea, select {
      width: 80%;
      font-weight: normal;
      float: right;
    }
  }
}

$value-sets-background-color: #eee;

.value-sets-container, .value-set-container, .code-systems-container, .code-system-container {
  padding: 10px 0px;
  margin: 10px 0px;
  background-color: $value-sets-background-color;
  border: solid 1px black;
  .search-panel {
    padding-bottom: 15px;
  }
  max-height: 300px;
  overflow-y: scroll;
  #value-set-search, #term-search {
    width: 100%;
  }
}

.value-set-results {
  .divider-right {
    border-right: solid 1px black;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  thead {
    border-bottom: solid 1px black;
  }

  td {
    padding-right: 5px;
    padding-bottom: 5px;
  }

  tr:hover {
    background-color: lighten($value-sets-background-color, 75%);
    cursor: default;
  }

  .selected {
    background-color: darken($value-sets-background-color, 15%);
  }
}

.value-set-details {
  ul {
    padding-left: 5px;
  }
}

.code-systems-results {
  td {
    padding-right: 5px;
    padding-bottom: 5px;
  }
}

.modal-content {
  .value-sets-container, .value-set-container, .code-systems-container, .code-system-container {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: none;
  }

  .value-set-results {
    tr:hover {
      background-color: darken($value-sets-background-color, 25%);
    }

    .selected {
      background-color: darken($value-sets-background-color, 15%);
    }
  }
}

.codeSystemList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  li {
    margin-right: 3px;
    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      li {
        font-weight: normal;
        margin-left: 10px;
      }
    }
  }
}

.codeSystemList > li {
  font-weight: bold;
}

.value-set-search-panel {
  margin-bottom: 20px;
  border-bottom: solid 1px gray;
  .vs-btn {
    margin-bottom: 10px;
  }
}

#phenotype-messages {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

[treecontrol].tree-classic li .tree-selected {
  background-color: $list-item-hover-background-color !important;
}

.tree-classic {
  span {
    display: inline-block;
    width: 90%;
    span {
      width: 100%;
      margin: 2px;
    }
  }

  span:hover {
    background-color: $list-item-hover-background-color;
  }
}

.phenotype-elements {
  .col-md-3 {
    min-width: 240px;
  }

  .col-xs-9 {
    width: 50%;
  }
}

.value-set-inline * .value-set-container {
  padding: 5;
}

.value-set-inline .value-set-search-panel {
  position: absolute;
  display: block;
  left: 30px;
  background-color: white;
  border: solid 1px #DDD;
  box-shadow: inset -2px -2px 0 rgba(221, 221, 221, 0.25);
  padding: 10px;
}

#phenotype-export {
  div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  .message {
    font-size: 1.2em;
  }

  .note {
    padding-top: 0px;
  }

  .group {
    padding: 0px;
    margin: 0px;
  }

  .spinner {
    height: 50px;
    display: block;
  }

  .error {
    font-weight: bold;
    color: red;
  }
}

.popup-diagram {
  padding-top: 15px;
  img {
    width: 100%;
    height: 100%;
  }
}