$header-background-color: #1F497D;
$dashboard-header-background-color: lighten($header-background-color, 25%);
$button-color: lighten($header-background-color, 15%);
$list-item-hover-background-color: darken(white, 10%);