<div class="results-type-panel">
  <select ng-model="result.operator">
    <option value="LT">Less than (<)</option>
    <option value="LE">Less than or equal to (<=)</option>
    <option value="EQ">Equal to (=)</option>
    <option value="BW">Between</option>
    <option value="GT">Greater than (>)</option>
    <option value="GE">Greater than or equal to (>=)</option>
  </select>
  <input type="text" ng-model="result.valueLow"/>
  <span ng-show="result.operator === 'BW'"> - </span>
  <input type="text" ng-model="result.valueHigh" ng-show="result.operator === 'BW'"/>
  Units: <select ng-options="unit.label for unit in units track by unit.id" ng-model="result.units"></select>
</div>