<div class="modal-header">
  <h3 class="modal-title">About '{{valueSet.name}}'</h3>
</div>
<div class="modal-body" id="value-set-properties">
  <form>
    <label>
      Name:
      <span>{{valueSet.name}}</span>
    </label>
    <label>
      OID:
      <span>{{valueSet.id}}</span>
    </label>
    <label style="white-space: nowrap;">
      URI:
      <span>{{valueSet.uri}}</span>
    </label>
  </form>
  <label>Values:</label>
  <table>
    <thead>
      <th>Code System</th>
      <th>Code</th>
      <th>Description</th>
    </thead>
    <tr ng-repeat="value in terms">
      <td>{{value.codeSystem}}</td>
      <td>{{value.id}}</td>
      <td>{{value.name}}</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Close</button>
</div>