<div class="col-lg-3"></div>
<div class="jumbotron col-lg-6" style="margin-top: 20px">
  <h2>Phenotype Authoring Tool</h2>
  <p class="lead" ng-hide="errorGettingPhenotypes">
    {{numberOfPhenotypes}} phenotypes have been published to date.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/phenotype">Get Started <span class="glyphicon glyphicon-arrow-right"></span></a></p>
</div>
<div class="col-lg-3"></div>

<div class="row marketing col-lg-12">
  <h4>Standardize your phenotypes</h4>
  <p>
    Make your phenotype definition portable across different institutions by
    representing it in a standard format.
  </p>
</div>
