<div class="value-sets-container">
  <div class="row search-panel">
    <div class="col-lg-4">
      <label>
        Search for value sets:
        <input type="text" style="width: 100%;" ng-model="searchTerm"></input>
      </label>
    </div>
    <div class="col-lg-8">
      <ol class="note-sm">
        <li>Enter a search term for a condition, procedure or medication (e.g. 'diabetes', 'CABG', 'statin').</li>
        <li>When you have found a value set you would like to use, click the 'Add' button</li>
        <li>After you have selected all the value sets you want to use, click 'OK'</li>
        <li>If you want to remove a value set from your saved list, click the 'Remove' button</li>
      </ol>
    </div>
  </div>
  <div class="row value-set-results">
    <div class="col-lg-6 divider-right">
      <label>Value sets matching your search criteria:</label>
      <div us-spinner="{radius:8, width:4, length: 8, top: '50%', left: '25%'}" class="note" ng-show="isSearching">
        Please wait
      </div>
      <div class="note" ng-show="searchResults.length === 0 && !isSearching">
        (No value sets were found that met your criteria)
      </div>
      <table>
        <thead>
          <th></th>
          <th>Name</th>
          <th>ID</th>
        </thead>
        <tr ng-repeat="valueSet in searchResults">
          <td>
            <input type="checkbox" ng-click="addToList(valueSet)"></input>
          </td>
          <td>
            {{valueSet.name}}
          </td>
          <td>
            {{valueSet.id}}
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <label>Selected value sets:</label>
      <div class="note" ng-show="selectedValueSets.length === 0">
        (You have not selected any value sets)
      </div>
      <table>
        <thead>
          <th></th>
          <th>Name</th>
          <th>ID</th>
        </thead>
        <tr ng-repeat="valueSet in selectedValueSets">
          <td>
            <input type="checkbox" checked="checked" ng-click="removeFromList(valueSet)"></input>
          </td>
          <td>
            {{valueSet.name}}
          </td>
          <td>
            {{valueSet.id}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>