<div id="value-set-sidebar" class="search-panel" tooltip="Search for a value set, then drag and drop it onto the canvas" tooltip-placement="right">
  <div>
    <label>
      Search for value sets:
      <input type="text" style="width: 100%;" ng-model="searchTerm" ng-model-options="{ debounce: 750 }"></input>
    </label>
  </div>
  <div>
    <div us-spinner="{radius:8, width:4, length: 8, top: '50%', left: '25%'}" class="note" ng-show="isSearching">
      Please wait
    </div>
    <div class="note" ng-show="searchResults.length === 0 && !isSearching">
      (No value sets were found that met your criteria)
    </div>
    <div treecontrol class="tree-classic"
     tree-model="searchResults"
     options="treeOptions">
     <span draggable double-clickable dblclick-event="addWorkflowObject(config)">
      {{node.name}}
      <span class="note">{{node.id}}</span>
      <input type="hidden" value="{{node}}"></input>
     </span>
    </div>
  </div>
</div>